<div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4 mb-10 justify-items-center items-center">

    <!-- Admissions & Registrations Card -->
    <div class="transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 duration-200 animate-breathing max-w-sm p-6 bg-blue-700 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ring-2 ring-blue-700 ring-offset-2">
        <i class="ri-user-add-line w-14 h-14 text-gray-100 dark:text-gray-400 mb-3"></i>
        <a href="{% url 'moderators_service:admissions_and_registrations' %}">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-100 dark:text-white">Admissions & Registrations</h5>
        </a>
        <p class="mb-3 font-normal text-gray-100 text-sm dark:text-gray-400 italic">Admit new students and register new staff here.</p>
    </div>

    <!-- Analytics and Reporting Card -->
    <div class="transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-green-600 duration-200 animate-breathing max-w-sm p-7 bg-green-600 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ring-2 ring-green-600 ring-offset-2">
        <i class="ri-bar-chart-line w-14 h-14 text-gray-100 dark:text-gray-400 mb-3"></i>
        <a href="#">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-100 dark:text-white">Access Analytics and Reporting</h5>
        </a>
        <p class="mb-3 font-normal text-gray-100 text-sm dark:text-gray-400 italic">All year calendar and events.</p>
    </div>

    <!-- Exams, Grades & Transcripts Card -->
    <div class="transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-orange-600 duration-200 animate-breathing max-w-sm p-6 bg-orange-600 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ring-2 ring-orange-600 ring-offset-2">
        <i class="ri-file-list-3-line w-14 h-14 text-gray-100 dark:text-gray-400 mb-3"></i>
        <a href="#">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-100 dark:text-white">Exams, Grades & Transcripts</h5>
        </a>
        <p class="mb-3 font-normal text-gray-100 text-sm dark:text-gray-400 italic">See all activities related to exams & gradings.</p>
    </div>

    <!-- Access Control & Permissions Card -->
    <div class="transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-purple-600 duration-200 animate-breathing max-w-sm p-6 bg-purple-600 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ring-2 ring-purple-600 ring-offset-2">
        <i class="ri-lock-unlock-line w-14 h-14 text-gray-100 dark:text-gray-400 mb-3"></i>
        <a href="#">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-100 dark:text-white">Access Control & Permissions</h5>
        </a>
        <p class="mb-3 font-normal text-gray-100 text-sm dark:text-gray-400 italic">Manage access and permission settings.</p>
    </div>

    <!-- Passwords & Account Recovery Card -->
    <div class="transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-yellow-500 duration-200 animate-breathing max-w-sm p-6 bg-yellow-500 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ring-2 ring-yellow-600 ring-offset-2">
        <i class="ri-key-2-line w-14 h-14 text-gray-100 dark:text-gray-400 mb-3"></i>
        <a href="#">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-100 dark:text-white">Passwords & Accounts Recovery</h5>
        </a>
        <p class="mb-3 font-normal text-gray-100 text-sm dark:text-gray-400 italic">Handle account recovery requests.</p>
    </div>

    <!-- IT Support & Technical Issues Card -->
    <div class="transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-teal-600 duration-200 animate-breathing max-w-sm p-6 bg-teal-600 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ring-2 ring-teal-600 ring-offset-2">
        <i class="ri-customer-service-2-line w-14 h-14 text-gray-100 dark:text-gray-400 mb-3"></i>
        <a href="#">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-100 dark:text-white">IT Support & Technical Issues</h5>
        </a>
        <p class="mb-3 font-normal text-gray-100 text-sm dark:text-gray-400 italic">Manage and resolve technical issues and tickets.</p>
    </div>
</div>
