{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrations Success</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    {% tailwind_css %}
    <!-- Include Lottie Web Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js"></script>
</head>

<body class="bg-gray-100 flex justify-center items-center min-h-screen">

<!-- Success Animation Modal -->
<div id="success-animation" class="fixed inset-0 bg-white bg-opacity-90 flex justify-center items-center">
    <div class="text-center">
        <!-- Lottie Animation -->
        <div id="lottie-animation" style="width: 400px; height: 400px;"></div> <!-- Increased size here -->
        <p class="mt-2 text-2xl font-semibold text-red-600">Registration Successful, Welcome Aboard Captain</p>
    </div>
</div>


<!-- JavaScript for Lottie Animation and Redirection -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Load the Lottie animation from local static file
        lottie.loadAnimation({
            container: document.getElementById('lottie-animation'), // the DOM element that will contain the animation
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: "{% static 'animations/Animation - 1729345578184.json' %}" // using local static Lottie file
        });

        // Display the success animation for 3 seconds, then redirect to login
        setTimeout(function () {
            window.location.href = "{% url 'gateway:logins' %}";
        }, 4000);  // 3 seconds delay
    });
</script>

</body>
</html>
